
.header-color *{
    background:#181818;
}


.landing-grid {
    background: #181818;
    color: black;
    
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-text {
    padding-top: 20rem;
}

.banner-text h1 {
    font-size: 65px;
    font-family: 'Press Start 2P', cursive;
    color: #0099ff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner-text hr {
    border-top: 3px solid #0052cc;
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.banner-text p {
    color: #0052cc;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: auto;
}

.social-links i {
    color: #0099ff;
    font-size: 5em;
    padding: 8px;
}

.social-links i:hover {
    color: #0099ff;
}

.header-color-link{
    color: white;
    font-weight: 600;
    text-decoration: none !important;
    font-size: 16px;
}

.header-color-link-1{
    color: black;
    font-weight: 600;
    text-decoration: none !important;
    font-size: 16px;
}


.header-color-link:hover{
    color: #0099ff;
    text-decoration: none !important;
    cursor: pointer;

}

.header-color-link-1:hover{
    color: #0099ff;
    text-decoration: none !important;
    cursor: pointer;

}

.projects-grid {
    margin: 5px;
    padding: 150px;
    display: flex;
}

.resume-right-col {
    color: black;
    padding: 2em;
}

.contact-body {
    margin: auto;
    width: 50%;
    padding: 10% 0;
}

.contact-body h1 {
    font-family: economica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    color: #0099ff;
}

.contact-body h5 {
    word-wrap: normal;
    padding: 3rem;
    color: #0052cc;
}

.contact-body Button {
    text-align: center;
    margin: auto;
    font-family: economica, sans-serif;
    font-size: 25px;
    background: #0099ff;
}

.contact-body Button:hover{
    background-color: #0052cc;
}

.contact-body hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #0099ff;
    margin: auto;
    padding-bottom: 25px;
    width: 50%;
}

.contact-info-section{
    display: flexbox;
    padding-top: 30px;
    justify-content: space-between;
    text-align: center;
    color: #0052cc;
}

.contact-info-section h4{
    font-weight: 200;
}

.contact-info-section a {
    color: #0052cc;
    text-decoration: none !important;
}

.contact-info-section a:hover {
    color: #0099ff;
}

.contact-info-middle{
    padding: 10px;
}

.about-me-left{
    display: block;
    margin: auto;
    margin-top: 50%;
}

.about-me-right h1{
    display: block;
    margin: auto;
    margin-top: 20%;
}

.about-me-right p {
    width: 85%;
    padding-top: 20px;
}