@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #2D3436;
}
.nav-container{
  color: #B2BEC3;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.article-sep {
 width: 70%;
}

.nav-container a{
  text-decoration: none;
  color: #B2BEC3;
  padding: 0 7px;
}

.nav-container a:hover {
  color: #00B894;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-container img {
  width: 200px;
  height: 200px;
}

.main-container h1 {
  padding-top: 20px;
}

.about-me{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.whoami {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.wrapper{
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
}

.whoami p{
  justify-content: space-around;
  padding: 10px;
}

.post {
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.socials-container {
  display: flex;
  justify-content: center;
}

.socials-container a {
  text-decoration: none;
}

.socials-container p:hover {
  color: #00B894;
}

.cpyright-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.socials-container p {
  padding: 0 20px;
}


.hash-color {
  color: #00B894;
}

.color1 {
  color: #B2BEC3;
}

.font-main {
  font-family: 'Red Hat Display';
}
.pt-30 {
  padding-top: 30px;
}

.w-30 {
  width: 30%;
}

.desc {
  width: 70%;
  padding: 20px;
  font-size: 18px;
  line-height: 30px;
  color: #B2BEC3;
  font-family: 'Red Hat Display';
  text-align: center;
}

.desc a{
  color: #B2BEC3;
}

.desc a:hover {
  color: #00B894;
}

.featuredImage{
  border-radius: 30px;
  padding: 10px 10px;
}

@media only screen and (max-width: 680px) {
  .desc {
    width: 80%;
  }
  .featuredImage {
    width: 80%;
  }
}
