@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #2d3436;
}
.nav-container {
  color: #b2bec3;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.article-sep {
  width: 70%;
}

.nav-container a {
  text-decoration: none;
  color: #b2bec3;
  padding: 0 7px;
}

.nav-container a:hover {
  color: #00b894;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-container img {
  width: 200px;
  height: 200px;
}

.main-container h1 {
  padding-top: 20px;
}

.about-me {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.whoami {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
}

.whoami p {
  justify-content: space-around;
  padding: 10px;
}

.post {
  display: flex;
  font-size: larger;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pb-10 {
  padding-bottom: 10px;
}

.article-sep {
  width: 70%;
  margin: 30px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.socials-container {
  display: flex;
  justify-content: center;
}

.socials-container a {
  text-decoration: none;
}

.socials-container p:hover {
  color: #00b894;
}

.cpyright-container {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.socials-container p {
  padding: 0 20px;
}

.hash-color {
  color: #00b894;
}

.color1 {
  color: #b2bec3;
}

.font-main {
  font-family: "Red Hat Display";
}
.pt-30 {
  padding-top: 30px;
}

.w-30 {
  width: 30%;
}

.things-I-love {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.things-I-love img {
  width: 480px;
  height: 360px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 10px #2d3436;
}

.align-left {
  text-align: left;
}

.desc {
  width: 60%;
  padding: 20px;
  font-size: 18px;
  line-height: 45px;
  color: #b2bec3;
  font-family: "Red Hat Display";
  text-align: left;
}

.desc a {
  color: #b2bec3;
}

.desc a:hover {
  color: #00b894;
}

.featuredImage {
  border-radius: 30px;
  padding: 10px 10px;
  max-width: 1000px;
  max-height: 700px;
}

@media only screen and (max-width: 680px) {
  .desc {
    width: 80%;
  }
  .featuredImage {
    width: 80%;
  }
  .things-I-love img {
    width: 320px;
    height: 240px;
  }
}
